@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav-link {
    position: relative;
    padding-bottom:5px ;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #17aa23;
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link:hover::after {
    width: 80%;
  }
  
  .shadows {
    box-shadow: 0 0 15px #24b77faa, 0 0 25px #24b77f66, 0 0 35px #24b77f44 !important; 
  }
  
  .form-control{
      border: 2px solid rgb(226, 30, 30);
    border-radius: 8px; 
  }
  .form-select{
      border: 2px solid #84878D;
    border-radius: 8px; 
  }
  
  .form-control:focus {
    box-shadow: 0 0 0 2px #000000cb, 0 0 0 5px #24B77F;
    border: 3px solid #24B77F; 
    outline: none;
    border-radius: 8px; 
  }
  
  .contact-field input.form-control:focus,
  .contact-field textarea.form-control:focus {
    box-shadow: 0 0 0 2px #000000cb, 0 0 0 3px #ffffff;
    border: 1px solid #000000; 
    outline: none;
    border-radius: 8px; 
  }
  
  .contact-field input::placeholder{
      color: #7F7F80;
  }
  
  .form-select:focus {
    box-shadow: 0 0 0 2px #000000cb, 0 0 0 5px #24B77F;
    border: 3px solid #24B77F; 
    outline: none;
    border-radius: 8px; 
  }
  
  .accordion-button::after {
      filter: brightness(0) invert(1); 
    }
    .accordion-button:not(.collapsed)::after {
      filter: brightness(0) invert(1); 
    }
  
    .object {
  animation: float 3s ease-in-out infinite;
  animation-direction: alternate;
  }
  
  
  
  @keyframes float {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10px);
  }
  }
  
  
  .custom-card {
    position: relative; 
    transition: all 0.6s ease;
  }
  
  .custom-card::before {
    content: "";
    position: absolute; 
    top: 30px;
    right: -10px;
    width: 30px;
    height: 2px;
    background: linear-gradient(90deg, #8a42f4, transparent);
  }
  
  .custom-card:hover{
      box-shadow: 0 10px 30px rgba(36,183,127,0.2);
      border :1px solid #8548f8;
  }
  .homebtn{
      background-color: #8548F8;
  }
  .homebtn:hover{
      box-shadow: 0 10px 30px rgba(28, 235, 73, 0.3);
      border :2px solid #8548f8;
      background-color: #8648f800; 
  }
  .card{
      transition: all 0.6s ease;
  }
  .choose{
      transition: all 0.6s ease;
  }
  .choose:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .uploadbtn{
    background-color: #1A212B;
    border: 1px solid #24B77F;
  }
  .uploadbtn:hover{
    box-shadow: 0 4px 6px rgba(28, 235, 73, 0.3);
    border: 1px solid #24B77F;
  }

  .applysubmit{
    transition: all 0.6s ease;
  }
  .applysubmit:hover{
    transform: translateY(-5px);
  }
  